@import "tailwindcss";
@plugin "daisyui";
@import "./styles/light.css";
@import "./styles/dark.css";


/* Custom utility classes */
/* .btn-primary {
  box-shadow: var(--glow-primary);
}

.btn-secondary {
  box-shadow: var(--glow-secondary);
}

.btn-accent {
  box-shadow: var(--glow-accent);
} */

body {
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}

